# Virtual environment
.venv/
venv/

# Environment variables file
.env

# Python cache files
__pycache__/
*.pyc

# IDE-specific files (e.g., VS Code)
.vscode/

# Operating system files
.DS_Store
Thumbs.db

# Local testing cases (if you don't want them deployed)
Testingcases/